@media (max-width: 991px) {

    /* CLASSES  */

    .hosting-list {        
        margin-top: 25px;  /* Change hosting elements size */
        width: 100%;
    }

    .hosting-popular {
        margin: 5px 0 0 0;   /* change popular elements size */
        width: 100%;
    }

    .location-dot {
        position: absolute;   /* Make the location dot in position absolute */
    }

    #hosting {
        flex-direction: column-reverse; /*Invert hosting section and popular section */
    }

    .show-more {     /* Delete the margin for "Afficher plus" */
        margin: 0;
    }

    .activity-section {    /* Make actiovity section fit */
        height: auto;
        max-height: none;
    }

    .activity-division {   /* Fill the page (left to right) with the activity division */
        width: 100%;
    }

    .activity-box {
        margin-bottom: 25px;  /* Fix every activity box size */
        height: 155px;
    }

    .activity img {      /* Change images height in activity */
        height: 100px;
    }

    .footer-element {      /* Change font size in footer elements */
        font-size: 15px;
    }

    .footer-section {     /* Change width of every section in the footer */
        width: 25%;      
    }

    /* COMBINED */

    .filters span {
        font-size: 15px;     /* Change filter section dimensions */
        margin-right: 8px;
    }

    .filters div {          /* Change filter elements size */
        height: 35px;
        margin-left: 5px;
    }

    article.article-list {
        min-height: 215px;  /* Set a minimum height for hosting elements */
    }

    article.article-list a {    /* Adjust text in hosting elements */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    div.activity-section {        /* Make activity section a column */
        display: flex;
        flex-direction: column;
    }

    input.input-tablet-phone {
        margin-left: 51.5px;     /* Change input dimensions with phone and tablet */
        width: 260px;
        height: 52.39px;
    }
    
    button.search-button-one {      /* Show the button for tablet and phone */
        display: flex;
        position: relative;
        margin-left: -25px;
    }
    
    button.search-button-two {     /* Hide desktop button */
        display: none;
    }

    i.filter-icon {      /* Change filter icons size */
        width: 35px;
        height: 35px;
        min-width: 35px;
        font-size: 17px;
        margin: 0 8px 0 -2px;
    }

    div.filters h2 {    /* Change filter section title*/
        font-size: 15px;
        padding: 8px 5px;
    }
}