@media (max-width: 991px) {
    button.search-button-one {      /* Show the button for tablet and phone */
        display: flex;
    }
    
    button.search-button-two {     /* Hide desktop button */
        display: none;
    }

    .filters span {
        font-size: 15px;     /* Change filter section dimensions */
        margin-right: 8px;
    }

    i.filter-icon {      /* Change filter icons size */
        width: 35px;
        height: 35px;
        min-width: 35px;
        font-size: 17px;
        margin: 0 8px 0 -2px;
    }

    .filters div {          /* Change filter elements size */
        height: 35px;
        margin-left: 5px;
    }

    div.filters h2 {    /* Change filter section title*/
        font-size: 15px;
        padding: 8px 5px;
    }

    #hosting {
        flex-direction: column-reverse; /*Invert hosting section and popular section */
    }

    .hosting-list {        
        margin-top: 25px;  /* Change hosting elements size */
        width: 100%;
    }

    .hosting-popular {
        margin: 5px 0 0 0;   /* change popular elements size */
        width: 100%;
    }

    article.article-list {
        min-height: 215px;  /* Set a minimum height for hosting elements */
    }

    article.article-list a {    /* Adjust text in hosting elements */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .show-more {     /* Delete the margin for "Afficher plus" */
        margin: 0;
    }

    div.activity-section {
        display: flex;
        flex-direction: column;
    }

    .activity-section {
        height: auto;
        max-height: none;
    }

    .activity-division {
        width: 100%;
    }

    .activity-box {
        margin-bottom: 25px;
        height: 155px;
    }

    .activity img {
        height: 100px;
    }

    .footer-element {
        font-size: 15px;
    }

    .footer-section {
        width: 25%;
    }
}