@media (max-width: 991px) {
    button.search-button-one {      /* Tablet and Phone search button */
        display: flex;
    }
    
    button.search-button-two {     /* Desktop search button */
        display: none;
    }

    .filters span {
        font-size: 15px;
        margin-right: 8px;
    }

    i.filter-icon {      /* Filters icons specificities */
        width: 35px;
        height: 35px;
        min-width: 35px;
        font-size: 17px;
        margin: 0 8px 0 -2px;
    }

    .filters div {
        height: 35px;
        margin-left: 5px;
    }

    div.filters h2 {    /* Filters section name specificities */
        font-size: 15px;
        font-weight: 900;
        padding: 8px 5px;
    }

    #hosting {
        flex-direction: column-reverse;
    }

    .hosting-list {
        margin-top: 25px;
        width: 100%;
    }

    .hosting-popular {
        margin: 5px 0 0 0;
        width: 100%;
    }

    article.article-list {
        min-height: 215px;
    }

    article.article-list a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .show-more {
        margin: 0;
    }

    div.activity-section {
        display: flex;
        flex-direction: column;
    }

    .activity-section {
        height: auto;
        max-height: none;
    }

    .activity-division {
        width: 100%;
    }

    .activity-box {
        margin-bottom: 25px;
        height: 155px;
    }

    .activity img {
        height: 100px;
    }

    .footer-element {
        font-size: 15px;
    }

    .footer-section {
        width: 25%;
    }
}